.nav-container {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.431372549);
  padding: 0 10px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto 1.5rem;
  position: relative;
  padding: 1rem 0;
}
.nav .nav-icon-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav .nav-icon-list .active .nav-icon path {
  fill: #fc5c00;
}
.nav .nav-icon-list .nav-icon {
  cursor: pointer;
}
.nav .nav-icon-list .nav-icon path {
  transition: 200ms ease;
}
.nav .nav-icon-list .nav-icon:hover path {
  fill: #fc5c00;
}
.nav .profile-pic {
  width: 60px;
  cursor: pointer;
}
.nav .theme-profile {
  display: flex;
  align-items: center;
}
.nav .theme-profile .themeBtn {
  width: 40px;
  height: 25px;
  border-radius: 25px;
  overflow: hidden;
  margin-right: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2352941176);
}
.nav .theme-profile .themeBtn .switch {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.nav .theme-profile .themeBtn .switch .circle {
  width: 25px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  transition: 500ms ease-in;
}
.nav .theme-profile .themeBtn .switch .circle .fa-moon {
  display: none;
}
.nav .theme-profile .themeBtn .switch.checked .circle {
  left: 40%;
}
.nav .theme-profile .themeBtn .switch.checked .circle .fa-moon {
  display: block;
}
.nav .theme-profile .themeBtn .switch.checked .circle .fa-sun {
  display: none;
}
.nav .theme-profile .themeBtn .checkbox {
  display: none;
}
.nav .opctions {
  position: absolute;
  right: 0;
  top: 110%;
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  z-index: 10;
  list-style-type: none;
  display: none;
  outline: 3px solid rgba(0, 0, 0, 0.142);
}
.nav .opctions a {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.8rem 0;
}
.nav .opctions a:hover .icon {
  background-color: #fc5c00;
}
.nav .opctions a .icon {
  width: 30px;
  height: 30px;
  background-color: rgba(252, 92, 0, 0.1490196078);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  border-radius: 50%;
  transition: 500ms ease;
}
.nav.show .opctions {
  display: block;
}

body.dark .nav-container {
  background-color: rgb(62, 62, 62);
}
body.dark .nav-container .nav .nav-icon-list .nav-icon path {
  fill: rgba(255, 255, 255, 0.533);
}
body.dark .nav-container .nav .nav-icon-list .nav-icon:hover path {
  fill: #fc5c00;
}
body.dark .nav-container .nav .nav-icon-list .active .nav-icon path {
  fill: #fc5c00;
}
body.dark .nav-container .nav .theme-profile .themeBtn {
  box-shadow: 0px 0px 5px rgba(211, 211, 211, 0.2352941176);
}
body.dark .nav-container .nav .theme-profile .themeBtn .switch {
  background-color: rgb(67, 67, 67);
}
body.dark .nav-container .nav .theme-profile .themeBtn .switch .circle {
  background-color: rgb(67, 67, 67);
}
body.dark .nav-container .nav .opctions {
  background-color: rgb(67, 67, 67);
  outline: 3px solid rgba(255, 255, 255, 0.142);
}
body.dark .nav-container .nav .opctions a {
  color: #fff;
}

/*# sourceMappingURL=navBar.css.map */
