.nav-container {
    box-shadow: 0px 0px 5px #0000006e;
    padding: 0 10px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto 1.5rem;
    position: relative;
    padding: 1rem 0;

    .nav-icon-list {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .active {
            .nav-icon {
                path {
                    fill:rgb(252, 92, 0);
                }
            }
        }

        .nav-icon {
            cursor: pointer;
            path {
                transition: 200ms ease;
            }

            &:hover {
                path {
                    fill: rgb(252, 92, 0);
                }
            }
        }
    }

    .profile-pic {
        width: 60px;
        cursor: pointer;
    }

    .theme-profile {
        display: flex;
        align-items: center;

        .themeBtn {
            width: 40px;
            height: 25px;
            border-radius: 25px;
            overflow: hidden;
            margin-right: 1rem;
            box-shadow: 0px 0px 5px #0000003c;
            .switch {
                display: inline-block;
                width: 100%;
                height: 100%;
                position: relative;
                background-color: rgb(255, 255, 255);
                cursor: pointer;

                .circle {
                    width: 25px;
                    height: 25px;
                    background-color: rgb(255, 255, 255);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 0;
                    transition: 500ms ease-in;

                    // right: 0;

                    .fa-moon {
                        display: none;
                    }
                }
            }

            .switch.checked {
                .circle {
                    left: 40%;

                    .fa-moon {
                        display: block;
                    }

                    .fa-sun {
                        display: none;
                    }
                }
            }

            .checkbox {
                display: none;
            }
        }
    }

    .opctions {
        position: absolute;
        right: 0;
        top: 110%;
        background-color: rgb(255, 255, 255);
        padding: 1rem 2rem;
        z-index: 10;
        list-style-type: none;
        display: none;
        outline: 3px solid rgba(0, 0, 0, 0.142);

        a {
            color: black;
            text-decoration: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: .8rem 0;

            &:hover {
                .icon {
                    background-color: rgba(115, 115, 115, 0.642);
                }
            }

            .icon {
                width: 30px;
                height: 30px;
                background-color: rgba(115, 115, 115, 0.167);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: .5rem;
                border-radius: 50%;
                transition: 500ms ease;
            }
        }
    }

    &.show {
        .opctions {
            display: block;
        }
    }
}
