.section {
    max-width: 1280px;
    margin: 2.5rem auto;

    .showResult {
        font-weight: bold;
        margin-bottom: 2.5rem;

        span {
            text-decoration: underline;
        }
    }
    .tvshowSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
}